@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility wrap-break-word {
    overflow-wrap: break-word;
}

@import "@heroui/styles";

html,
body,
#root {
    min-width: 0 !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background-color: #f3f4f6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html.dark,
html.dark body {
    background-color: #030712;
    color: #f3f4f6;
    color-scheme: dark;
}

/* 扫描当前包的源码 */
@source "./**/*.{js,ts,jsx,tsx}";
/* 扫描 HeroUI 的源码 */
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
