@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility wrap-break-word {
    overflow-wrap: break-word;
}

@import "@heroui/styles";

html,
body,
#root {
    min-width: 0 !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background-color: #f3f4f6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html.dark,
html.dark body {
    background-color: #030712;
    color: #f3f4f6;
    color-scheme: dark;
}

/* 重置浏览器 autofill 样式 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: inherit !important;
    caret-color: inherit !important;
    border-color: inherit !important;
}

html.dark input:-webkit-autofill,
html.dark input:-webkit-autofill:hover,
html.dark input:-webkit-autofill:focus,
html.dark input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #030712 inset !important;
}

/* 扫描当前包的源码 */
@source "./**/*.{js,ts,jsx,tsx}";
/* 扫描 HeroUI 的源码 */
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
